html {
  font-size: 10px;
}

body {
  font-size: 1rem;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.shop-cart-elem {
  width: 60rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1rem #E0E0E0;
          box-shadow: 0 0 1rem #E0E0E0;
  border-radius: 1rem;
}

.shop-cart-elem img {
  width: 10rem;
}

.shop-cart-elem__info p,
.shop-cart-elem__info span,
.shop-cart-elem__quantity p,
.shop-cart-elem__quantity span {
  font-size: 1.8rem;
}

.shop-cart-elem__quantity-decrement,
.shop-cart-elem__quantity-increment {
  cursor: pointer;
}

.shop-catalog__cart-block,
.back {
  position: relative;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  padding: 1rem;
}

.shop-catalog__cart-block img,
.back img {
  margin: 1rem 0;
}

.shop-catalog__cart-block p,
.back p {
  font-size: 1.4rem;
}

.shop-catalog__cart-block:hover .shop-catalog__cart-full-info,
.back:hover .shop-catalog__cart-full-info {
  display: block;
}

.shop-catalog__cart-full-info {
  width: 30rem;
  height: 30rem;
  position: absolute;
  left: -140%;
  top: 115%;
  display: none;
}

.shop-catalog__cart-link-wrap {
  position: relative;
}

.catalog__cart__circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border: .2rem solid red;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  background: #df0000;
}

.catalog__cart__circle p {
  color: #000;
}

.shop-cart__no-product {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.shop-cart__total {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0ebb90;
  color: #fff;
}

.shop-cart__total p {
  font-size: 1.6rem;
}

.shop-cart__total p:first-child {
  margin-right: 1rem;
}

.back {
  width: 12rem;
  display: inline-block;
}

nav {
  width: 8rem;
  height: 8rem;
}

.shop-catalog__filter-price {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 3.5rem 0 1.5rem 0;
}

.shop-select__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.shop-select__form {
  font-size: 1.6rem;
  position: relative;
  width: 20rem;
  height: 2.5rem;
  border-radius: .5rem;
  background: #cccbcb;
  cursor: pointer;
}

.shop-select__form-title {
  border: solid .1rem #e0e0e0;
}

.shop-select__select-options {
  border: solid .1rem #221e1e;
  width: 100%;
}

.shop-select__select-options p:hover {
  background: #8f8c8c;
  color: #fff;
}

.shop-catalog__priceRange-value {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 6rem 0;
}

.shop-catalog__priceRange-value p {
  font-size: 1.6rem;
  margin: 0 1rem;
}

.shop-catalog__priceRange {
  position: relative;
}

.shop-catalog__priceRange input[type=range] {
  position: absolute;
  left: 1.5rem;
  top: 4.5rem;
}

::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: .2rem;
  margin-top: -.7rem;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 30rem;
  height: .5rem;
  background: #ddd;
  border: none;
  border-radius: .3rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1.5px solid #C1C1C1;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #EDEDED;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  -webkit-box-shadow: .1rem .1rem .1rem #C6C6C6, 0 0 .1rem #787878;
          box-shadow: .1rem .1rem .1rem #C6C6C6, 0 0 .1rem #787878;
  border-radius: .2rem;
  border: 0.2px solid  #787878;
}

.shop-search-by-product {
  margin-bottom: 2rem;
}

.shop-search__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-search__block-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.shop-search__input {
  font-size: 1.6rem;
  width: 18rem;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.shop-sort-by {
  margin-bottom: 15rem;
}

.shop-catalog__filter-price {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 3.5rem 0 1.5rem 0;
}

.shop-select__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.shop-select__form {
  font-size: 1.6rem;
  position: relative;
  width: 20rem;
  height: 2.5rem;
  border-radius: .5rem;
  background: #cccbcb;
  cursor: pointer;
}

.shop-select__form-title {
  border: solid .1rem #e0e0e0;
}

.shop-select__select-options {
  border: solid .1rem #221e1e;
  width: 100%;
}

.shop-select__select-options p:hover {
  background: #8f8c8c;
  color: #fff;
}

.shop-catalog__priceRange-value {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 6rem 0;
}

.shop-catalog__priceRange-value p {
  font-size: 1.6rem;
  margin: 0 1rem;
}

.shop-catalog__priceRange {
  position: relative;
}

.shop-catalog__priceRange input[type=range] {
  position: absolute;
  left: 1.5rem;
  top: 4.5rem;
}

::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: .2rem;
  margin-top: -.7rem;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 30rem;
  height: .5rem;
  background: #ddd;
  border: none;
  border-radius: .3rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1.5px solid #C1C1C1;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #EDEDED;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  -webkit-box-shadow: .1rem .1rem .1rem #C6C6C6, 0 0 .1rem #787878;
          box-shadow: .1rem .1rem .1rem #C6C6C6, 0 0 .1rem #787878;
  border-radius: .2rem;
  border: 0.2px solid  #787878;
}

.shop-search-by-product {
  margin-bottom: 2rem;
}

.shop-search__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-search__block-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.shop-search__input {
  font-size: 1.6rem;
  width: 18rem;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.shop-sort-by {
  margin-bottom: 15rem;
}

.shop-catalog-category__image--pop-up {
  margin-bottom: 1rem;
}

.shop-pop-up__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(84, 84, 84, 0.6);
}

.shop-pop-up__window {
  padding: 2rem;
  position: fixed;
  top: 5rem;
  width: 50rem;
  background: #fff;
  -webkit-box-shadow: 0 0 1rem 0;
          box-shadow: 0 0 1rem 0;
  border-radius: .3rem;
  z-index: 2;
}

.shop-pop-up__window-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-pop-up__window-content {
  margin: 1rem 0 2rem 0;
}

.shop-pop-up__window-header {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-catalog-category__name--pop-up {
  font-size: 3rem;
}

.shop-catalog-category__price--pop-up {
  font-size: 2rem;
}

.close__pop-up {
  border-radius: .3rem;
  color: #fff;
  background: #cf0505;
  margin: 0 1rem;
}

.shop-catalog-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52rem;
  margin: 4rem 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem #E0E0E0;
          box-shadow: 0 0 1rem #E0E0E0;
}

.shop-catalog-category__image {
  width: 30rem;
}

.shop-catalog-category__name {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.shop-catalog__selected-category {
  font-size: 1.6rem;
}

.shop-catalog-category__price {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.shop-catalog-category__info {
  background: #1ac8df;
  margin-right: 1rem;
}

.main {
  max-width: 136.6rem;
  margin: 0 auto;
}

.shop_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-catalog__list {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-size: 1.4rem;
  width: 8rem;
  height: 3rem;
  color: #ffffff;
}

.btn:hover {
  color: #ffbd06;
}

.material-icons {
  cursor: pointer;
  margin-bottom: 1rem;
}

.shop-rating-block {
  text-align: center;
}

.shop-rating__image {
  width: 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .shop_catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop-catalog__filter-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .shop-catalog__priceRange,
  .shop-sort-by,
  .shop-search-by-product,
  .shop-select {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-catalog__priceRange {
    position: relative;
  }
  .shop-select {
    margin-bottom: 8rem;
  }
  .shop-catalog__priceRange-value {
    margin: 0 0 6rem .5rem;
  }
  .shop-catalog__priceRange input[type=range] {
    left: 0;
    top: 6rem;
  }
  .shop-select__form {
    width: 14rem;
  }
  .shop-select__select-options {
    background: #000;
    color: #fff;
  }
  .shop-select__select-options p:hover {
    color: #e9a615;
  }
  .shop-select__title {
    font-size: 1.4rem;
  }
  .shop-search__input {
    width: 16rem;
  }
  .shop-catalog__cart-block {
    position: absolute;
    right: 0;
    top: 0;
  }
  .shop-catalog__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop-catalog-category {
    margin: 4rem 2rem;
  }
  .shop-pop-up__window {
    width: 30rem;
  }
  .shop-catalog-category__image--pop-up {
    width: 26rem;
  }
  .shop-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-cart-elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30rem;
    height: 42rem;
    margin-bottom: 4rem;
  }
  .shop-catalog__cart-block:hover .shop-catalog__cart-full-info,
  .back:hover .shop-catalog__cart-full-info {
    display: none;
  }
  .shop-cart__total {
    padding: 1rem 0;
  }
  .shop-cart__total p {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .shop_catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop-catalog__filter-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 3.5rem 0 0 0;
  }
  .shop-sort-by,
  .shop-search-by-product,
  .shop-select {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-catalog__priceRange {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    position: relative;
  }
  .shop-sort-by {
    margin-bottom: 10rem;
  }
  .shop-search__input {
    width: 18rem;
  }
  .shop-select__form {
    width: 18rem;
  }
  .shop-catalog__priceRange-value {
    margin: 0 0 6rem 2.5rem;
  }
  .shop-catalog__priceRange input[type=range] {
    left: 1rem;
    top: 6rem;
  }
  .shop-catalog__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop-catalog-category,
  .shop-phones-catalog {
    margin: 4rem 2rem;
  }
  .shop-catalog__cart-block:hover .shop-catalog__cart-full-info,
  .back:hover .shop-catalog__cart-full-info {
    display: none;
  }
  .shop-cart__total {
    padding: 1rem 0;
  }
  .shop-cart__total p {
    margin-bottom: 0;
  }
  .shop-catalog__cart-block {
    position: absolute;
    right: 1.5rem;
    top: 0;
  }
}

.shop-home-page p {
  font-size: 1.8rem;
}
/*# sourceMappingURL=style.css.map */