<template>
  <div class="shop-cart-elem">
    <div v-if="cart_elem_datas.article.includes('a')">
      <img
        :src="require(`@/assets/images/headphones/` + cart_elem_datas.image)"
        alt="#"
      />
    </div>
    <div v-else>
      <img
        :src="require(`@/assets/images/phones/` + cart_elem_datas.image)"
        alt="#"
      />
    </div>
    <div class="shop-cart-elem__info">
      <p>name: {{ cart_elem_datas.name }}</p>
      <p>price: {{ cart_elem_datas.price }}</p>
      <p>article: {{ cart_elem_datas.article }}</p>
    </div>
    <div class="shop-cart-elem__quantity">
      <p>quantity: </p>
      <span class="shop-cart-elem__quantity-decrement" @click="decrementElem"> - </span>
      <span> {{ cart_elem_datas.quantity }} </span>
      <span class="shop-cart-elem__quantity-increment" @click="incrementElem"> + </span>
    </div>
    <button class="btn btn-danger" @click="deleteElemInCart">delete</button>
  </div>
</template>

<script>
export default {
  name: "shop-cart-elem-phones",
  props: {
    cart_elem_datas: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {};
  },
  computed: {},
  methods: {
    decrementElem() {
      this.$emit("decrement");
    },
    incrementElem() {
      this.$emit("increment");
    },
    deleteElemInCart() {
      this.$emit("deleteElemInCart");
    },
  },
};
</script>

<style leng="sass"></style>
