<template>
  <div class="shop-cart">
    <router-link :to="{ name: 'Catalog', params: {} }">
      <div class="back">
        <p>back to catalog</p>
      </div>
    </router-link>
    <p class="shop-cart__no-product" v-if="!cart_datas.length">
      there are no product in cart
    </p>
    <ShopCartElem
      v-for="(elem, index) in cart_datas"
      :key="elem.article"
      :cart_elem_datas="elem"
      @deleteElemInCart="deleteElemInCart(index)"
      @increment="increment(index)"
      @decrement="decrement(index)"
    />
    <div class="shop-cart__total">
      <p class="shop-cart__total-name">Total:</p>
      <p>{{ cartTotalCost }} ₽</p>
    </div>
  </div>
</template>

<script>
import ShopCartElem from "../cart/shop-cart-elem";
import { mapActions } from "vuex";
export default {
  name: "shop-cart",
  components: {
    ShopCartElem,
  },
  props: {
    cart_datas: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {};
  },
  computed: {
    cartTotalCost() {
      return this.cart_datas.reduce(
        (res, item) => res + item.price * item.quantity,
        0
      );
    },
  },
  methods: {
    ...mapActions(["DELETE_ELEM_IN_CART", "INCREMENT_ELEM", "DECREMENT_ELEM"]),
    deleteElemInCart(index) {
      this.DELETE_ELEM_IN_CART(index);
    },
    increment(index) {
      this.INCREMENT_ELEM(index);
    },
    decrement(index) {
      this.DECREMENT_ELEM(index);
    },
  },
};
</script>

<style></style>
