<template>
  <div class="shop-home-page">
    <h1>
      Online Store
    </h1>
    <p>
      <router-link :to="{ name: 'Catalog' }">go to catalog</router-link>
    </p>
  </div>
</template>

<script>
export default {
  name: "shop-home-page",
  components: {},
  props: {},
  data() {
    return {};
  },
  computed: {},
  methods: {},
};
</script>

<style></style>
