<template>
  <div class="shop-catalog-category">
    <ShopPopUpWindow
      v-if="isVisible"
      @closePopUp="showOrCloseInfo"
      infobuttonAdd="add cart"
      :infoHeader="product_datas.name"
      @addElemToCart="addElemToCart"
    >
      <div class="shop-rating-block">
        <img
          class="shop-rating__image"
          src="../../assets/images/rating.png"
          alt="rating"
        />
        <p>{{ product_datas.rating }}</p>
      </div>
      <img
        class="shop-catalog-category__image shop-catalog-category__image--pop-up"
        :src="require(`@/assets/images/phones/` + product_datas.image)"
        alt="#"
      />
      <p class="shop-catalog-category__name shop-catalog-category__name--pop-up">
        {{ product_datas.name }}
      </p>
      <p class="shop-catalog-category__price shop-catalog-category__price--pop-up">
        price - {{ product_datas.price }} ₽
      </p>
      <p class="shop-catalog__selected-category">
        category - {{ product_datas.category }}
      </p>
    </ShopPopUpWindow>
    <div class="shop-rating-block">
      <img
        class="shop-rating__image"
        src="../../assets/images/rating.png"
        alt="rating"
      />
      <p>{{ product_datas.rating }}</p>
    </div>
    <img
      class="shop-catalog-category__image"
      :src="require(`@/assets/images/phones/` + product_datas.image)"
      alt="#"
    />
    <p class="shop-catalog-category__name">{{ product_datas.name }}</p>
    <p class="shop-catalog-category__price">
      price - {{ product_datas.price }} ₽
    </p>
    <div class="shop-catalog-category__buttons">
      <button class="shop-catalog-category__info btn" @click="showOrCloseInfo">
        info
      </button>
      <button
        type="button"
        class="button__addCart btn btn-success"
        @click="addElemToCart"
      >
        add cart
      </button>
    </div>
  </div>
</template>

<script>
import ShopPopUpWindow from "../popup/shop-pop-up-window";
export default {
  name: "shop-phones-catalog",
  components: {
    ShopPopUpWindow,
  },
  props: {
    product_datas: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return { isVisible: false };
  },
  computed: {},
  methods: {
    addElemToCart() {
      this.$emit("addElemToCart", this.product_datas);
    },
    showOrCloseInfo() {
      this.isVisible = !this.isVisible;
    },
  },
};
</script>
