<template>
  <div class="shop_catalog">
    <div class="shop-catalog__filter-price">
      <div class="shop-catalog__priceRange">
        <div class="shop-catalog__priceRange-value">
          <p>min: {{ minPrice }}</p>
          <p>max: {{ maxPrice }}</p>
        </div>
        <input
          type="range"
          min="0"
          max="9000"
          step="100"
          v-model.number="minPrice"
          @change="limitingValue"
        />
        <input
          type="range"
          min="0"
          max="9000"
          step="100"
          v-model.number="maxPrice"
          @change="limitingValue"
        />
      </div>
      <ShopSortBy
        :selected="selectedSort"
        :sortingOptions="sortingOptions"
        @select="optionSort"
      />
      <ShopSearchByProduct />
      <ShopSelectCategory
        :selected="selectedCategory"
        :options="productGroups"
        @select="optionSelect"
      />
    </div>

    <div class="shop-catalog__list">
      <ShopHeadphonesCatalog
        v-show="headphonesIsVisible"
        v-for="productHeadphones in filteredProducts[0].headphones"
        :key="productHeadphones.article"
        :product_datas="productHeadphones"
        @addElemToCart="addElemToCart"
      />

      <ShopPhonesCatalog
        v-show="phonesIsVisible"
        v-for="productPhones in filteredProducts[1].phones"
        :key="productPhones.article"
        :product_datas="productPhones"
        @addElemToCart="addElemToCart"
      />
    </div>
    <router-link tag="nav" :to="{ name: 'Cart', params: { cart_datas: CART } }">
      <div class="shop-catalog__cart-block">
        <div class="shop-catalog__cart-link-wrap">
          <a class="shop-catalog__cart-link" href="#">
            <img src="../../assets/images/basket.png" alt="#" />
            <div class="catalog__cart__circle">
              <p>
                {{
                  CART.reduce(
                    (totalLength, prod) => totalLength + prod.quantity,
                    0
                  )
                }}
              </p>
            </div>
          </a>
        </div>
        <div class="shop-catalog__cart-full-info">
          <p>
            total number -
            {{
              CART.reduce((totalLength, prod) => totalLength + prod.quantity, 0)
            }}
          </p>
          <p>number of product - {{ CART.length }}</p>
        </div>
      </div>
    </router-link>
    <router-link :to="{ name: 'headphones' }"> </router-link>
  </div>
</template>

<script>
import ShopHeadphonesCatalog from "../headphones&phones/shop-headphones-catalog";
import ShopPhonesCatalog from "../headphones&phones/shop-phones-catalog";
import { mapGetters } from "vuex";
import ShopSelectCategory from "../filter&sort&search/shop-select-category";
import ShopSearchByProduct from "../filter&sort&search/shop-search-by-product";
import ShopSortBy from "../filter&sort&search/shop-sort-by";
import methods from "./methods";

export default {
  name: "shop-catalog",
  components: {
    ShopHeadphonesCatalog,
    ShopPhonesCatalog,
    ShopSelectCategory,
    ShopSearchByProduct,
    ShopSortBy,
  },
  props: {},
  data() {
    return {
      productGroups: [
        { category: "all", value: "some" },
        { category: "headphones", value: "some2" },
        { category: "phones", value: "some3" },
      ],
      sortingOptions: [
        { sortOption: "do not sort" },
        { sortOption: "sort by price (increase)" },
        { sortOption: "sort by rating" },
      ],
      selectedCategory: "all",
      selectedSort: "do not sort",
      sortedProducts: "",

      phonesIsVisible: true,
      headphonesIsVisible: true,

      minPrice: 0,
      maxPrice: 9000,
    };
  },
  computed: {
    ...mapGetters(["PRODUCTS", "CART", "SEARCH_VALUE"]),
    filteredProducts() {
      if (this.sortedProducts.length) {
        return this.sortedProducts;
      } else {
        return this.PRODUCTS;
      }
    },
  },
  methods,
  watch: {
    SEARCH_VALUE() {
      this.searchProductsByValue(this.SEARCH_VALUE);
    },
    selectedSort() {
      if (this.selectedSort === "sort by price (increase)") {
        this.sortByPrice();
      } else if (this.selectedSort === "sort by rating") {
        this.sortByRating();
      } else {
        console.log("no sort");
      }
    },
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API().then((response) => {
      if (response.data) {
        console.log("data arrived");
        this.optionSelect();
        this.searchProductsByValue(this.SEARCH_VALUE);
      }
    });
  },
};
</script>

<style lang="sass"></style>
