html 
    font-size: 10px

body 
    font-size: 1rem

*, *:after, *:before 
    box-sizing: border-box
    padding: 0
    margin: 0

li 
    list-style-type: none
ul 
    margin-left: 0
    padding-left: 0

a 
    text-decoration: none
    cursor: pointer