@media (min-width:320px) and (max-width:767px)
    
    .shop_catalog
        flex-direction: column

    .shop-catalog__filter-price
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: end
        justify-content: space-around

    .shop-catalog__priceRange,
    .shop-sort-by,
    .shop-search-by-product,
    .shop-select
        flex-basis: 20%
        display: flex
        flex-direction: column
        align-items: center

    .shop-catalog__priceRange
        position: relative

    .shop-select
        margin-bottom: 8rem

    .shop-catalog__priceRange-value
        margin: 0 0 6rem .5rem

    .shop-catalog__priceRange input[type=range] 
        left: 0
        top: 6rem

    .shop-select__form
        width: 14rem

    .shop-select__select-options
        background: #000
        color: #fff
        & p:hover
            color: #e9a615

    .shop-select__title
        font-size: 1.4rem

    .shop-search__input
        width: 16rem

    .shop-catalog__cart-block
        position: absolute
        right: 0
        top: 0

    .shop-catalog__list
        justify-content: center

    .shop-catalog-category
        margin: 4rem 2rem

    .shop-pop-up__window
        width: 30rem

    .shop-catalog-category__image--pop-up
        width: 26rem

    .shop-cart
        display: flex
        flex-direction: column
        align-items: center

    .shop-cart-elem
        flex-direction: column
        width: 30rem
        height: 42rem
        margin-bottom: 4rem
        
    .shop-catalog__cart-block,
    .back
        &:hover .shop-catalog__cart-full-info
            display: none

    .shop-cart__total
        padding: 1rem 0
        & p 
            margin-bottom: 0


