@media (min-width:768px) and (max-width:1365px)

    .shop_catalog
        flex-direction: column

    .shop-catalog__filter-price
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: end
        justify-content: space-around
        margin: 3.5rem 0 0 0

    .shop-sort-by,
    .shop-search-by-product,
    .shop-select
        flex-basis: 20%
        display: flex
        flex-direction: column
        align-items: center

    .shop-catalog__priceRange
        flex-basis: 10%
        position: relative

    .shop-sort-by
        margin-bottom: 10rem

    .shop-search__input
        width: 18rem

    .shop-select__form
        width: 18rem

    .shop-catalog__priceRange-value
        margin: 0 0 6rem 2.5rem

    .shop-catalog__priceRange input[type=range] 
        left: 1rem
        top: 6rem

    .shop-catalog__list
        justify-content: center

    .shop-catalog-category,
    .shop-phones-catalog
        margin: 4rem 2rem

    .shop-catalog__cart-block,
    .back
        &:hover .shop-catalog__cart-full-info
            display: none

    .shop-cart__total
        padding: 1rem 0
        & p 
            margin-bottom: 0

    .shop-catalog__cart-block
        position: absolute
        right: 1.5rem
        top: 0
        