.shop-cart-elem
    width: 60rem
    height: 20rem
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center
    box-shadow: 0 0 1rem #E0E0E0
    border-radius: 1rem
    & img
        width: 10rem

.shop-cart-elem__info,
.shop-cart-elem__quantity
    & p,
    span
        font-size: 1.8rem

.shop-cart-elem__quantity-decrement,
.shop-cart-elem__quantity-increment
    cursor: pointer
        
.shop-catalog__cart-block,
.back
    position: relative
    flex-basis: 15%
    padding: 1rem
    & img
        margin: 1rem 0
    & p 
        font-size: 1.4rem
    &:hover .shop-catalog__cart-full-info
        display: block

.shop-catalog__cart-full-info
    width: 30rem
    height: 30rem
    position: absolute
    left: -140%
    top: 115%
    display: none

.shop-catalog__cart-link-wrap
    position: relative

.catalog__cart__circle
    position: absolute
    top: 0
    left: 50%
    width: 2rem
    height: 2rem
    border: .2rem solid red
    border-radius: 50%
    line-height: 2rem
    text-align: center
    background: #df0000
    & p 
        color: #000

.shop-cart__no-product
    font-size: 1.6rem
    margin-top: 3rem

.shop-cart__total
    position: fixed
    bottom: 0
    right: 0
    left: 0
    padding: 3rem
    display: flex
    justify-content: center
    background: #0ebb90
    color: #fff
    
.shop-cart__total
    & p 
        font-size: 1.6rem
    & p:first-child
        margin-right: 1rem

.back
    width: 12rem
    display: inline-block
   
nav
    width: 8rem
    height: 8rem