.main
    max-width: 136.6rem
    margin: 0 auto

.shop_catalog
    display: flex
    justify-content: space-between

.shop-catalog__list
    flex-basis: 68%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

.btn
    font-size: 1.4rem
    width: 8rem
    height: 3rem
    color: #ffffff
    &:hover
        color: #ffbd06

.material-icons
    cursor: pointer
    margin-bottom: 1rem

.shop-rating-block
    text-align: center

.shop-rating__image
    width: 3rem


        