.shop-catalog__filter-price
    flex-basis: 17%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    margin: 3.5rem 0 1.5rem 0

.shop-select__title
    font-size: 1.6rem
    margin-bottom: 1rem

.shop-select__form
    font-size: 1.6rem
    position: relative
    width: 20rem
    height: 2.5rem
    border-radius: .5rem
    background: #cccbcb
    cursor: pointer

.shop-select__form-title
    border: solid .1rem #e0e0e0

.shop-select__select-options
    border: solid .1rem #221e1e
    width: 100%
    & p:hover
        background: #8f8c8c
        color: #fff

.shop-catalog__priceRange-value
    text-align: left
    display: flex
    margin: 0 0 6rem 0
    & p 
        font-size: 1.6rem
        margin: 0 1rem

.shop-catalog__priceRange
    position: relative

.shop-catalog__priceRange input[type=range] 
    position: absolute
    left: 1.5rem
    top: 4.5rem

::-webkit-slider-thumb 
    z-index: 2
    position: relative
    top: .2rem
    margin-top: -.7rem

input[type=range]
    -webkit-appearance: none

input[type=range]::-webkit-slider-runnable-track 
    width: 30rem
    height: .5rem
    background: #ddd
    border: none
    border-radius: .3rem

input[type=range]::-webkit-slider-thumb 
    -webkit-appearance: none
    border: 1.5px solid #C1C1C1
    height: 1.6rem
    width: 1.6rem
    border-radius: 50%
    background: #EDEDED

input[type=range]:focus 
    outline: none
    
input[type=range]::-webkit-slider-runnable-track 
    width: 100%
    height: 5px
    box-shadow: .1rem .1rem .1rem #C6C6C6, 0 0 .1rem #787878
    border-radius: .2rem
    border: 0.2px solid  #787878

.shop-search-by-product
    margin-bottom: 2rem

.shop-search__block
    display: flex
    flex-direction: column
    align-items: center

.shop-search__block-text
    font-size: 1.6rem
    margin-bottom: 1rem

.shop-search__input
    font-size: 1.6rem
    width: 18rem
    padding: .5rem 
    border-radius: .5rem
    margin-bottom: 1.5rem
    text-align: center

.shop-sort-by
    margin-bottom: 15rem