.shop-catalog-category
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 52rem
    margin: 4rem 0
    border-radius: 1rem
    box-shadow: 0 0 1rem #E0E0E0

.shop-catalog-category__image
    width: 30rem

.shop-catalog-category__name
    font-size: 1.8rem
    margin-bottom: 1rem

.shop-catalog__selected-category
    font-size: 1.6rem

.shop-catalog-category__price
    font-size: 1.6rem
    margin-bottom: 2rem

.shop-catalog-category__info
    background: #1ac8df
    margin-right: 1rem
