.shop-catalog-category__image--pop-up
    margin-bottom: 1rem

.shop-pop-up__wrap
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
    background: rgba(84, 84, 84, .6)

.shop-pop-up__window
    padding: 2rem
    position: fixed
    top: 5rem
    width: 50rem
    background: #fff
    box-shadow: 0 0 1rem 0
    border-radius: .3rem
    z-index: 2

.shop-pop-up__window-footer
    display: flex
    justify-content: center
    align-items: center

.shop-pop-up__window-content
    margin: 1rem 0 2rem 0

.shop-pop-up__window-header
    font-size: 2.5rem
    display: flex
    justify-content: space-between

.shop-catalog-category__name--pop-up
    font-size: 3rem

.shop-catalog-category__price--pop-up
    font-size: 2rem

.close__pop-up
    border-radius: .3rem
    color: #fff
    background: #cf0505
    margin: 0 1rem
