<template>
  <div class="shop-search-by-product">
    <router-link :to="{ name: 'ShopHomePage' }"></router-link>
    <div class="shop-search__block">
      <p class="shop-search__block-text">
        search by product:
      </p>
      <input
        class="shop-search__input"
        type="text"
        v-model="searchValue"
        placeholder="enter product name"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "shop-search-by-product",
  components: {},
  props: {},
  data() {
    return {
      searchValue: "",
    };
  },
  computed: {
    ...mapGetters(["SEARCH_VALUE"]),
  },
  methods: {
    ...mapActions(["GET_SEARCH_VALUE"]),
    searchProduct(value) {
      this.GET_SEARCH_VALUE(value);
    },
  },
  watch: {
    searchValue() {
      this.searchProduct(this.searchValue);
    },
  },
};
</script>

<style></style>
