<template>
  <div class="shop-select">
    <p class="shop-select__title">
      select sorting option
    </p>
    <div class="shop-select__form">
      <p class="shop-select__form-title" @click="areVisible = !areVisible">
        {{ selected }}
      </p>
      <div class="shop-select__select-options" v-if="areVisible">
        <p
          v-for="option in options"
          :key="option.value"
          @click="selectOptionCategory(option)"
        >
          {{ option.category }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "shop-select",
  props: {
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    selected: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      areVisible: false,
    };
  },
  methods: {
    selectOptionCategory(option) {
      this.$emit("select", option);
      this.areVisible = false;
    },
    hideSelct() {
      this.areVisible = false;
    },
  },
  mounted() {
    document.addEventListener("click", this.hideSelct.bind(this), true);
  },
  beforeDestroy() {
    document.removeEventListener("click", this.hideSelct);
  },
  computed: {},
};
</script>
