<template>
  <div class="shop-select shop-sort-by">
    <p class="shop-select__title">
      select sorting option
    </p>
    <div class="shop-select__form">
      <p class="shop-select__form-title" @click="areVisible = !areVisible">
        {{ selected }}
      </p>
      <div class="shop-select__select-options" v-if="areVisible">
        <p
          v-for="option in sortingOptions"
          :key="option.value"
          @click="selectOptionSort(option)"
        >
          {{ option.sortOption }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "shop-sort-by",
  props: {
    sortingOptions: {
      type: Array,
      default() {
        return [];
      },
    },
    selected: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      areVisible: false,
    };
  },
  computed: {},
  methods: {
    selectOptionSort(option) {
      this.$emit("select", option);
      this.areVisible = false;
    },
    hideSelct() {
      this.areVisible = false;
    },
  },
};
</script>

<style leng="sass"></style>
