<template>
  <div class="shop-pop-up__wrap" ref="shop-pop-up__wrap">
    <div class="shop-pop-up__window">
      <div class="shop-pop-up__window-header">
        <span>{{ infoHeader }}</span>
        <span>
          <i class="material-icons" @click="closePopUp"> close</i>
        </span>
      </div>
      <div class="shop-pop-up-window-content">
        <slot> </slot>
      </div>
      <div class="shop-pop-up-window-footer">
        <button
          type="button"
          class="button__addCart btn btn-success"
          @click="addElemToCart"
        >
          {{ infobuttonAdd }}
        </button>
        <button class="close__pop-up btn" @click="closePopUp">close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "shop-pop-up-window",
  props: {
    product_datas: {},
    infobuttonAdd: {
      type: String,
      default: "add cart",
    },
    infoHeader: {
      type: String,
      default: "pop-up header",
    },
  },
  data() {
    return {};
  },
  methods: {
    closePopUp() {
      this.$emit("closePopUp");
    },
    addElemToCart() {
      this.$emit("addElemToCart");
    },
  },
  computed: {},
  mounted() {
    let vm = this;
    document.addEventListener("click", (item) => {
      if (item.target === vm.$refs["shop__pop-up__wrap"]) {
        vm.closePopUp();
      }
    });
  },
};
</script>

<style lang="sass"></style>
