<template>
  <div class="main">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: "main",
  props: {},
  data() {
    return {
      title: "some",
    };
  },
  computed: {},
  metods: {},
  watch: {},
  mounted() {},
};
</script>

<style lang="sass"></style>
